
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* background-color: #F5F6F7; */
    background-color:#171717;
    color: #EDEDED;
}

*{
    margin: 0;
    padding: 0;
}

#nav_id{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #DA0037;
}

.navigation_side_bar{
    margin-left: 5%;


}

.nav_list{
    display: inline-block;
    line-height: 3.5;
}

.nav_list:not(:last-child),.icon_lists:not(:last-child){
    padding-right: 18px;
}

.nav_links{
    color: black;
    text-decoration: none;
}
.nav_links:hover{
    color: #EDEDED;
}

.accounts_side_bar{
    flex:.7;
    margin-left: 30%;
}

.icon_lists{
    display: inline-block;
    line-height: 2.8;
}

.icon_links{
    font-size: 20px;
    color: #161925;
}

.logo_section{
    font-family: sans-serif;
    margin-left: 80px;
    line-height: 3;
    
    display: flex;
    justify-content: space-between;
}
.logo_section h3{
    flex: .50;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 100;

}
.logo_section div>a:hover{
    background-color: #f0f0f0;
    color: black;
    
}

.logo_section div{
    flex: .40;
    margin-left: 250px;
    line-height: 5;
}
.logo_section a{
    line-height: 4;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    text-decoration: none;
    color: #EDEDED;
    transition: .5s ease-in;
}
.logo_section a>span{
    color: #DA0037;
}


.blogs_section{
    width: 65%;
    margin-top: 60px;
    
}
.blogs_section h2{
    margin-left: 39px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    margin-bottom: 10px;
    width: fit-content;
    border-bottom: 1px solid gray;
}


.head_share{
    display: flex;
    justify-content: space-between;
}
.head_share ul{
    flex: .5;
    line-height: 2;
}
.blog_title h3{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-style: bold;
   
}
.blog_title p{
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
  word-spacing: 3;
    padding: 4px 9px 5px 9px;
    font-size: 15px;
}

.blog_title{
    margin-left: 40px;
    width: 86% ;
}

.share_list{
    display: inline-block;
}
.share_list_link{
    color: darkgray;
}
.share_list_link:hover{
    color: gray;
}
.share_list:not(:last-child){
    padding-right: 15px;
    
}
.blog_title:not(:last-child){

    margin-bottom: 30px;
}

.blog_title{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.time_created{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}



.fa-newspaper{
    color: #EDEDED;
    padding-right: 5px;
}

.news_class_link{
    text-decoration: none;
    color: #DA0037;
}



/* logoS */

.fa-twitter:hover,.fa-linkedin:hover{
    color:#1DA1F2;
}

.fa-linkedin:hover{
    color:#0A66C2;
}
.fa-instagram:hover{
    color:#D00062;
}

.fa-twitter,.fa-github,.fa-linkedin,.fa-instagram{
    color: white;
    font-size: 30px;
}







/* sidebar */


.main_main{
    display: flex;
    justify-content: space-between;
}


.side_bar{
    width: 30%;
    margin-top: 80px;
}
.side_menu_bar{
    font-family: 'Source Serif Pro', serif;
    width: 80%;
    background-color: #444444;
    padding: 30px 10px;
    border-radius: 4px;

}
.side_menu_bar h3{
    color: #EDEDED;
    margin-bottom: 20px;
}

.side_list{
    margin-bottom: 10px;
    list-style-type: none;
    
}
.side_list::before{
    content: "-  ";
    
    /* text-indent: 10px; */
    /* margin-left: -10px; */
}

.side_list:not(:last-child){
    padding-bottom: 12px;
}

.side_list_links{
    text-decoration: none;
    color: gray;
}
.side_list_links:hover{
    color: #EDEDED;
    border-bottom: 1px solid #EDEDED;
}




/* newsletter */
.newsletter{
    margin-top: 100px;
    background-color: #444444;
    width: 70%;
    padding: 30px 0;
    margin-bottom: 500px;
    border-radius: 4px;
    padding-bottom: 50px;
}
.newsletter h2{
    font-family: cursive;
    font-weight: 300;
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}
.subscribe{
    width: 80%;
    margin-left: 100px;
    
}
.subscribe a{
    padding: 11.3px;
    background-color: #DA0037;
    color: #EDEDED;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    transform: translateY(1px);
    
    
}
.subscribe input{
    margin: 0;
    background-color: #EDEDED;
    border: none;
    padding: 13px;
    transform: translatex(4px);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.subscribe input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #171717;
    font-size: 17px;
    
}
.subscribe input:focus{
    outline: none;
}
.indent{
    display: inline-block;
}
.subs_email{
    width: 70%;
    padding: 10px 0;
}
    

.accounts{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 200px;
}

