
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --body_background_color:#171717;
    --body_font_color:#EDEDED;
    --red:#DA0037;
    --dark_grey:#444444;
}




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color:var(--body_background_color) !important;
    color: var(--body_font_color) !important;
}

*{
    margin: 0;
    padding: 0;
}

#nav_id{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 15px;
    background-color: var(--red);
}

.navigation_side_bar{
    margin-left: 5%;


}

.nav_list{
    display: inline-block;
    line-height: 3.5;
}

.nav_list:not(:last-child),.icon_lists:not(:last-child){
    padding-right: 18px;
}

.nav_links{
    color: black;
    text-decoration: none;
}
.nav_links:hover{
    color: var(--body_font_color);
}

.accounts_side_bar{
    flex:.7;
    margin-left: 30%;
}

.icon_lists{
    display: inline-block;
    line-height: 2.8;
}

.icon_links{
    font-size: 20px;
    color: #161925;
}

.logo_section{
    font-family: sans-serif;
    margin-left: 80px;
    line-height: 3;
    
    display: flex;
    justify-content: space-between;
}
.logo_section h3{
    flex: .50;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 100;

}
.logo_section div>a:hover{
    background-color: #f0f0f0;
    color: black;
    
}

.logo_section div{
    flex: .40;
    margin-left: 250px;
    line-height: 5;
}
.logo_section a{
    line-height: 4;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    text-decoration: none;
    color: var(--body_font_color);
    transition: .5s ease-in;
}
.logo_section a>span{
    color: var(--red);
}


.blogs_section{
    width: 65%;
    margin-top: 60px;
    
}
.blogs_section h2{
    margin-left: 39px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    margin-bottom: 10px;
    width: fit-content;
    border-bottom: 1px solid gray;
}


.head_share{
    display: flex;
    justify-content: space-between;
    
}
.head_share ul{
    position: absolute;
    bottom: 10px;
    right: 20px;
    
}

.head_share a{
    color: var(--body_font_color);
}
.head_share a:hover{
    color: var(--body_font_color);
}


.blog_title h1{
    font-size: 30px !important;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-style: bold;
   
}
.blog_title p{
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
  word-spacing: 3;
    padding: 4px 9px 5px 9px;
    font-size: 15px;
}

.blog_title{
    margin-left: 40px;
    width: 86% ;
    position: relative;
}

.share_list{
    display: inline-block;
}
.share_list_link{
    color: darkgray;
}
.share_list_link:hover{
    color: gray;
}
.share_list:not(:last-child){
    padding-right: 15px;
    
}
.blog_title:not(:last-child){

    margin-bottom: 30px;
}

.blog_title{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.time_created{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}



.fa-newspaper{
    color: var(--body_font_color);
    padding-right: 5px;
}

.news_class_link{
    text-decoration: none;
    color: var(--red);
}



/* logoS */

.fa-twitter:hover,.fa-linkedin:hover{
    color:#1DA1F2;
}

.fa-linkedin:hover{
    color:#0A66C2;
}
.fa-instagram:hover{
    color:var(--red);
}

.fa-twitter,.fa-github,.fa-linkedin,.fa-instagram{
    color: white;
    font-size: 30px;
}







/* sidebar */


.main_main{
    display: flex;
    justify-content: space-between;
}


.side_bar{
    width: 30%;
    margin-top: 80px;
}
.side_menu_bar{
    font-family: 'Source Serif Pro', serif;
    width: 80%;
    background-color: var(--dark_grey);
    padding: 30px 10px;
    border-radius: 4px;

}
.side_menu_bar h3{
    color: var(--body_font_color);
    margin-bottom: 20px;
}

.side_list{
    margin-bottom: 10px;
    list-style-type: none;
    
}
.side_list::before{
    content: "-  ";
    
    /* text-indent: 10px; */
    /* margin-left: -10px; */
}

.side_list:not(:last-child){
    padding-bottom: 12px;
}

.side_list_links{
    text-decoration: none;
    color: gray;
}
.side_list_links:hover{
    color: var(--body_font_color);

}




/* newsletter */
.newsletter{
    margin-top: 100px;
    background-color: var(--dark_grey);
    width: 70%;
    padding: 30px 0;

    border-radius: 4px;
    padding-bottom: 50px;
    transform: translateX(150px);
}
.newsletter h2{
    font-family: cursive;
    font-weight: 300;
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}
.subscribe{
    width: 80%;
    margin-left: 100px;
    
}
.subscribe a{
    padding: 11.3px;
    background-color: var(--red);
    color: var(--body_font_color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    transform: translateY(1px);
    
    
}
.subscribe input{
    margin: 0;
    background-color: var(--body_font_color);
    border: none;
    padding: 13px;
    transform: translatex(4px);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.subscribe input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: var(--body_background_color);
    font-size: 17px;
    
}
.subscribe input:focus{
    outline: none;
}
.indent{
    display: inline-block;
}
.subs_email{
    width: 70%;
    padding: 10px 0;
}
    

.accounts{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 200px;
}





.search{
    position: relative;
    height: 20px;
    right: 300px;
    top: 4px;
    border-radius: 4px
}
.search .input{
    background-color: var(--body_font_color);
    border: 0;
    font-size: 18px;
    height: 40px;
    width: 50px;
    transition: width 0.3s ease;

}

.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 50px;
    transition: transform .3s ease;

}


.btn:focus, .input:focus{
    outline: none;
}




.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}

/* 
career */
.career_path{
    margin-top: 100px;
    padding: 100px;
    background-color: #DEDEDE;
    color: var(--body_background_color);
    font-family: 'Lato';


}
.career_path h2{
    width: fit-content;
    margin:0 auto;
    line-height: 2;
    color: #1B120F;
    font-size: 30px;
    font-family: monospace;
}
.career_path p{
    width: fit-content;
    margin:0 auto;
    line-height: 2;
    color: #1B120F;
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 20px;
}
.career{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
    grid-gap: 100px;
}
.grid_items{
    
    
}
.grid_items img{
    width: 100%;
}
.grid_items h3{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;

}
.learn_list{
    list-style-type: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: 300;
}
.grid_items button{
    color:#787A91;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: monospace;
    font-size: 18px;
    border-radius: 5px;
    transition: .1s ease-in;
    
}

.grid_items button:hover{
    background-color: var(--red);
    color: var(--body_background_color);
    transform: translateY(-2px);
}
.grid_items button:active{
    transform: translateY(0px);
}


/* footer */


.my_footer{
    
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    margin: 0 auto;
    grid-gap: 50px;
    
    font-family: monospace;
}
.footer_grid{
    padding: 70px 30px;
    transition: .5s ease;
}
.footer_grid:hover{
    background-color: #231F20;
}
.footer_grid img{
    width: 60%;
    
}
.my_footer h2{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}
.my_footer h3{
    margin-top: 10px;
}
.my_footer p{
    margin-top: 10px;
    font-size: 16px;
}
.my_footer a{
    text-decoration: none;
    color: var(--dark_grey);
}